In [1]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your file
file_path = 'dataset//friends_scripts//Friends_script.csv'
data = pd.read_csv(file_path)

data.rename(columns={'Lines': 'Sentence'}, inplace=True)
df=data
df.head()

       Name                                           Sentence
0    Monica  There's nothing to tell! He's just some guy I ...
1      Joey  C'mon, you're going out with the guy! There's ...
2  Chandler  All right Joey, be nice. So does he have a hum...
3    Phoebe                           Wait, does he eat chalk?
4    Phoebe  Just, 'cause, I don't want her to go through w...

In [4]:
df['Name'] = df['Name'].str.lower()
df

           Name                                           Sentence
0        monica  There's nothing to tell! He's just some guy I ...
1          joey  C'mon, you're going out with the guy! There's ...
2      chandler  All right Joey, be nice. So does he have a hum...
3        phoebe                           Wait, does he eat chalk?
4        phoebe  Just, 'cause, I don't want her to go through w...
...         ...                                                ...
55295  chandler                            Oh, it's gonna be okay.
55296    rachel   Do you guys have to go to the new house right...
55297    monica                                  We got some time.
55298    rachel                   Okay, should we get some coffee?
55299  chandler                                       Sure. Where?

[55300 rows x 2 columns]

In [5]:
# Group by 'Name' and aggregate 'Sentence' into a list
df = df.groupby('Name')['Sentence'].agg(list).reset_index()

# Count the number of sentences for each name
df['Sentence_Count'] = df['Sentence'].apply(len)

# Sort by 'Sentence_Count' in descending order
df = df.sort_values(by='Sentence_Count', ascending=False)

df.shape

(835, 3)

In [17]:
df = df[df['Name'].isin(['rachel', 'ross', 'chandler', 'monica', 'phoebe', 'joey', 'janice', 'gunther', 'mike'])]

In [18]:
df

,Name,Sentence,Sentence_Count
606,rachel,[Oh God Monica hi! Thank God! I just went to y...,8372
639,ross,"[ Hi., I just feel like someone reached down m...",8128
123,chandler,"[All right Joey, be nice. So does he have a hu...",7597
467,monica,[There's nothing to tell! He's just some guy I...,7523
341,joey,"[C'mon, you're going out with the guy! There's...",7345
566,phoebe,"[Wait, does he eat chalk?, Just, 'cause, I don...",6687
322,janice,"[Oh, my god, I am so glad you called me. I had...",201
281,gunther,[What does Rachel see in this guy? I love Rach...,115

In [8]:
df.to_csv('dataset//friends_scripts//friends_data_cleaned.csv', index=False)